.choice-ul {
    margin-top: 5px;
    list-style: none;
}

.choice-item-nobreak {
    padding: 2px;
    display: flex;
    flex-direction: column;
    background-color: black;

    border-radius: 3px;
}

.choice-item-nobreak p {
    margin: 1.5px 5px;
}

.p-alert {
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

.choice-input {
    margin-left: 10px;
    padding-left: 2px;
}

.choice-button {
    margin-left: 5px;
}


.choice-item-nobreak:hover {
    cursor: pointer;
    background-color: rgb(0, 43, 80);
}