*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GLOBAL: IDs - Class - Types */
.h1{
    font-size: 3.5em;
}

.h2{
    font-size: 3em;
}

.h3{
    font-size: 2em;
}

.h4{
    font-size: 1.5em;
}

.h5{
    font-size: 1.2em;
}

.paragraphy{
    font-size: 1.2em;
}

.font-roboto{font-family: Roboto;}
.font-roboto-bold{font-family: Roboto; font-weight: 700;}
.font-ubuntu{font-family: Ubuntu;}
.font-ubuntu-medium{font-family: Ubuntu; font-weight: 500;}
.font-public-sans{font-family: 'Public Sans';}
.font-public-sans-light{font-family: 'Public Sans'; font-weight: 200;}
.font-public-sans-semibold{font-family: 'Public Sans'; font-weight: 600;}

input{
    outline: none;
    border: none;
    padding: 3px;
    border-radius: 5px;
}

ul{
    list-style: none;
}

/* LOCAL: Body Main Footer */

body{
    background-color: #000000;
    color: #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    margin: 60px auto;
    min-width: 320px;
    min-height: auto;
    background-color: #5daf76;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px rgb(110, 110, 110) solid;
}

.header-div{
    min-width: 100%;
    min-height: 7vh;
    background-color: #002211;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.main-div{
    min-width: 100%;
    min-height: auto;
    background-color: #000c05;

    display: flex;
    flex-direction: column;
}

.main-div .section-form{
    width: 100%;
    min-height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.section-form .input-equipment{
    width: 150px;
}

.section-form .input-consumption{
    width: 80px;
}

.section-form .button-add-nobreak{
    width: 50px;
    height: 30px;

    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section-nobreak-status{
    min-height: auto;
}

.section-nobreak-status .aside-nobreak-profile{
    width: 98%;
    min-height: auto;
    background-color: #292929;

    border-radius: 0px 30px 0px 0px;
}

.aside-nobreak-profile .profile-list{
    padding-left: 2.5px;
    display: flex;
    flex-direction: column;
}

.aside-nobreak-profile .profile-list .area-consumption{

}

.main-div .section-nobreak-status{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aside-status{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.aside-status .status{
    margin: 1.5px;
    width: 100px;
    height: 25px;
    border-radius: 100px;
}

.status-ok{background-color: darkgreen;}
.status-alert{background-color: rgb(155, 155, 0);}
.status-danger{background-color: rgb(105, 0, 0);}


.main-div .section-nobreak{
    width: 100%;
    height: 30vh;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.section-nobreak .aside-nobreak{
    margin: 2px;
    width: 100%;
    min-height: 10vh;
    background-color: #292929;
    cursor: not-allowed;
}

.section-nobreak .aside-nobreak span{
    font-size: 14px;
    color: rgb(255, 183, 183);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;

    transition: 0.5s ease-in-out;
}

.section-nobreak .aside-nobreak:hover > span{
    visibility: visible;
}

.section-nobreak .aside-list{
    margin: 2px;
    width: 100%;
    min-height: 10vh;
    background-color: #292929;
}

.section-nobreak .aside-list .item-list{
    margin-top: 2px;
    padding: 0px 0px 0px 3px;
    font-size: 12px;
    letter-spacing: 1.5px;
}

.footer-div{
    margin: 0 auto;

    
}